Repository TGSAI/mdio-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

Update LICENSE
  LICENSE
Due: none

Update LICENSE (#416)
  LICENSE
Due: none

upload coverage files fix
  .github/workflows/tests.yml
Due: check-yaml

update lockfile
  poetry.lock
Due: none

Fix CI coverage file uploads (#436)
  .github/workflows/tests.yml
  poetry.lock
Due: check-yaml

require segy >0.2.0
  poetry.lock
  pyproject.toml
Due: check-toml

update quickstart notebook to work with SEGY
  docs/notebooks/quickstart.ipynb
Due: none

Make random trace comparison without replacement.
  tests/integration/test_segy_import_export.py
Due: none

Fix regressions caused by new SEG-Y library (#435)
  docs/notebooks/quickstart.ipynb
  poetry.lock
  pyproject.toml
  tests/integration/test_segy_import_export.py
Due: check-toml

release `0.8.0.post1`
  pyproject.toml
Due: check-toml

update and organize deps
  poetry.lock
  pyproject.toml
Due: check-toml

upgrade pre-commit to ruff
  .pre-commit-config.yaml
Due: check-yaml

get rid of colon from title
  CONTRIBUTING.md
Due: none

update rtd build machine config
  .readthedocs.yml
Due: check-yaml

add editorconfig file
  .editorconfig
Due: none

delete flake8 config bc ruff
  .flake8
Due: none

add schemas and refactor docs
  docs/api_reference.md
  docs/cli_usage.md
  docs/conf.py
  docs/data_models/chunk_grids.md
  docs/data_models/compressors.md
  docs/data_models/data_types.md
  docs/data_models/dimensions.md
  docs/data_models/index.md
  docs/data_models/version_0.md
  docs/data_models/version_1.md
  docs/index.md
  docs/installation.md
  docs/requirements.txt
  docs/tutorials/compression.ipynb
  docs/tutorials/index.md
  docs/tutorials/quickstart.ipynb
  docs/tutorials/rechunking.ipynb
  noxfile.py
  pyproject.toml
  src/mdio/schema/__init__.py
  src/mdio/schema/base.py
  src/mdio/schema/chunk_grid.py
  src/mdio/schema/compressors.py
  src/mdio/schema/core.py
  src/mdio/schema/dimension.py
  src/mdio/schema/dtype.py
  src/mdio/schema/metadata.py
  src/mdio/schema/units.py
  src/mdio/schema/v0/__init__.py
  src/mdio/schema/v0/dataset.py
  src/mdio/schema/v1/__init__.py
  src/mdio/schema/v1/dataset.py
  src/mdio/schema/v1/stats.py
  src/mdio/schema/v1/units.py
  src/mdio/schema/v1/variable.py
Due: check-toml

fix doc build warnings and some syntax
  docs/api_reference.md
  docs/cli_usage.md
  docs/data_models/chunk_grids.md
  docs/data_models/compressors.md
  docs/data_models/data_types.md
  noxfile.py
  poetry.lock
  src/mdio/commands/segy.py
  src/mdio/converters/segy.py
  src/mdio/schema/v0/__init__.py
  src/mdio/schema/v1/__init__.py
Due: none

Update fsspec, s3fs, gcsfs, and adlfs dependencies
  poetry.lock
  pyproject.toml
Due: check-toml

Update fsspec, s3fs, gcsfs, and adlfs dependencies (#438)
  poetry.lock
  pyproject.toml
Due: check-toml

Add environment variable for SEG-Y text header encoding
  src/mdio/segy/compat.py
Due: none

Add environment variable for SEG-Y text header encoding (#439)
  src/mdio/segy/compat.py
Due: none

Update segy dependency to version 0.2.2
  poetry.lock
  pyproject.toml
Due: check-toml

allow full spec override via json env var.
  src/mdio/segy/compat.py
Due: none

Allow import/export completely custom SEG-Y via spec override environment variable (#440)
  poetry.lock
  pyproject.toml
  src/mdio/segy/compat.py
Due: check-toml

release `0.8.1`
  pyproject.toml
Due: check-toml

update dependencies in lockfile
  poetry.lock
Due: none

update dependencies in lockfile (#465)
  poetry.lock
Due: none

Update dependencies in pyproject.toml
  poetry.lock
  pyproject.toml
Due: check-toml

Update dependencies in pyproject.toml (#466)
  poetry.lock
  pyproject.toml
Due: check-toml

Enable multiprocessing with spawn context for cloud safety
  src/mdio/segy/parsers.py
Due: none

Update SEG-Y import for cloud native support and add test
  src/mdio/commands/segy.py
  src/mdio/segy/_workers.py
  tests/conftest.py
  tests/test_main.py
Due: none

Add s3fs dependency to test suite for cloud read test
  noxfile.py
Due: none

Add docs about buffered reads optimization for SEG-Y ingestion
  docs/usage.md
Due: none

New "Cloud Native" mode for ingesting remote files from a cloud environment (#467)
  docs/usage.md
  noxfile.py
  src/mdio/commands/segy.py
  src/mdio/segy/_workers.py
  src/mdio/segy/parsers.py
  tests/conftest.py
  tests/test_main.py
Due: none

Refactor trace header handling to fix memory efficiency regression
  src/mdio/segy/_workers.py
Due: none

headerarray explicit type hint
  src/mdio/segy/_workers.py
Due: none

Move HeaderArray import out of TYPE_CHECKING
  src/mdio/segy/_workers.py
Due: none

Refactor trace header handling to fix memory efficiency regression (#469)
  src/mdio/segy/_workers.py
Due: none

bump patch version
  pyproject.toml
Due: check-toml

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
