Repository TGSAI/mdio-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

Remove Python 3.10 support from testing pipeline
  .github/workflows/tests.yml
  noxfile.py
Due: check-yaml

Refactor mock_store to use zarr open_group instead of FsspecStore
  tests/unit/conftest.py
Due: none

test cli tests and disable copy
  src/mdio/api/convenience.py
  src/mdio/commands/info.py
  tests/test_main.py
Due: none

Refactor mock_store to use LocalFileSystem.
  tests/unit/conftest.py
Due: none

Refactor mock_store to use path parameter in FsspecStore
  tests/unit/conftest.py
Due: none

Refactor MDIO metadata handling and test structure.
  src/mdio/api/accessor.py
  src/mdio/api/io_utils.py
  src/mdio/segy/helpers_segy.py
  tests/integration/test_segy_import_export.py
  tests/unit/conftest.py
  tests/unit/test_accessor.py
  tests/unit/test_compat.py
Due: none

update lock file
  poetry.lock
Due: none

allow segy >0.4
  poetry.lock
  pyproject.toml
Due: check-toml

allow segy >0.4 (#513)
  poetry.lock
  pyproject.toml
Due: check-toml

Manual reconciliation of merging v1_backup into v1 branch
  src/mdio/__main__.py
  src/mdio/api/accessor.py
  src/mdio/api/convenience.py
  src/mdio/api/io_utils.py
  src/mdio/commands/copy.py
  src/mdio/commands/segy.py
  src/mdio/converters/exceptions.py
  src/mdio/converters/mdio.py
  src/mdio/converters/segy.py
  src/mdio/core/dimension.py
  src/mdio/core/grid.py
  src/mdio/core/indexing.py
  src/mdio/core/serialization.py
  src/mdio/core/utils_write.py
  src/mdio/exceptions.py
  src/mdio/segy/_workers.py
  src/mdio/segy/blocked_io.py
  src/mdio/segy/creation.py
  src/mdio/segy/exceptions.py
  src/mdio/segy/geometry.py
  src/mdio/segy/utilities.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_segy_import_export.py
  tests/test_main.py
  tests/unit/conftest.py
  tests/unit/test_accessor.py
  tests/unit/test_dimension.py
  tests/unit/test_serialization.py
Due: none

Fix typo
  src/mdio/core/utils_write.py
Due: none

Resolve runtime error for TYPE_CHECKING in test
  tests/integration/test_segy_import_export.py
Due: none

Fix linting issues.
  docs/cli_usage.md
  pyproject.toml
  src/mdio/__main__.py
  src/mdio/api/accessor.py
  src/mdio/api/convenience.py
  src/mdio/api/io_utils.py
  src/mdio/converters/exceptions.py
  src/mdio/converters/mdio.py
  src/mdio/core/dimension.py
  src/mdio/core/exceptions.py
  src/mdio/core/grid.py
  src/mdio/core/indexing.py
  src/mdio/core/serialization.py
  src/mdio/exceptions.py
  src/mdio/segy/blocked_io.py
  src/mdio/segy/creation.py
  src/mdio/segy/exceptions.py
  src/mdio/segy/geometry.py
  src/mdio/segy/parsers.py
  src/mdio/segy/utilities.py
  tests/conftest.py
  tests/integration/conftest.py
  tests/integration/test_segy_import_export.py
  tests/test_main.py
  tests/unit/conftest.py
  tests/unit/test_accessor.py
  tests/unit/test_dimension.py
  tests/unit/test_segy_grid_overrides.py
Due: check-toml

Update dependency versions in devcontainer Dockerfile
  .devcontainer/Dockerfile
Due: none

update lockfile with 2.1.2 poetry
  poetry.lock
Due: none

Update Python and segy version to enable py3.13
  pyproject.toml
Due: check-toml

Upgrade CI to support Python 3.13
  .github/workflows/release.yml
  .github/workflows/tests.yml
  noxfile.py
Due: check-yaml

Update Python version to 3.13 in devcontainer
  .devcontainer/Dockerfile
Due: none

Update ci dependencies and Nox version requirements
  noxfile.py
Due: none

update lockfile
  poetry.lock
Due: none

Update jinja2 to resolve security vulnerability
  poetry.lock
Due: none

Fix missing list for append
  src/mdio/api/accessor.py
Due: none

Migrate from Poetry to uv
  .github/workflows/constraints-poetry.txt
  .github/workflows/constraints.txt
  .github/workflows/release.yml
  .github/workflows/tests.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  uv.lock
Due: check-toml, check-yaml

fix pypi metadata with uv
  pyproject.toml
Due: check-toml

Updating contribution for uv
  CONTRIBUTING.md
Due: none

Nox and uv integration upgrades (#1)
  .github/workflows/tests.yml
  noxfile.py
Due: check-yaml

Update lock for python3.13
  uv.lock
Due: none

Update Dockerfile to use UV and Python3.13
  .devcontainer/Dockerfile
Due: none

pin labeler to 5.0.0
  .github/workflows/labeler.yml
Due: check-yaml

revert labeler pin
  .github/workflows/labeler.yml
Due: check-yaml

only install pre-commit deps; not all dev
  noxfile.py
Due: none

don't install all dev reqs in mypy
  noxfile.py
Due: none

remove redundant installs
  noxfile.py
Due: none

remove root package install from coverage report
  noxfile.py
Due: none

add toml extra to coverage
  noxfile.py
Due: none

remove dev installs from typeguard and xdoctest, add color extra
  noxfile.py
Due: none

remove dev reqs install from docs
  noxfile.py
Due: none

we aren't using hatch, so remove tool config
  pyproject.toml
Due: check-toml

remove commented out hatch build backend
  pyproject.toml
Due: check-toml

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
