Repository TGSAI/mdio-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.13
    hooks:
      - id: ruff-format
        types_or: [python, pyi]
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]

  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
        args: ["--maxkb=1100"]
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        args: [--markdown-linebreak-ext=md]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier

reduce bokeh dep version to 3.4.2
  poetry.lock
  pyproject.toml
Due: check-toml

reduce bokeh dep version to 3.4.2 (#470)
  poetry.lock
  pyproject.toml
Due: check-toml

releast `0.8.2.post1`
  pyproject.toml
Due: check-toml

get num cpus at function runtime
  src/mdio/segy/blocked_io.py
  src/mdio/segy/parsers.py
Due: none

get num cpus at function runtime (#471)
  src/mdio/segy/blocked_io.py
  src/mdio/segy/parsers.py
Due: none

handle singleton edge case when trace_range only has 1 trace.
  src/mdio/segy/_workers.py
Due: none

reuse variable
  src/mdio/segy/_workers.py
Due: none

Fix crash in header parsing when trace count is parsing `block_size` + 1 (#477)
  src/mdio/segy/_workers.py
Due: none

bump patch version
  pyproject.toml
Due: check-toml

update and organize deps
  poetry.lock
  pyproject.toml
Due: check-toml

get rid of colon from title
  CONTRIBUTING.md
Due: none

upgrade pre-commit to ruff
  .pre-commit-config.yaml
Due: check-yaml

update rtd build machine config
  .readthedocs.yml
Due: check-yaml

delete flake8 config bc ruff
  .flake8
Due: none

add editorconfig file
  .editorconfig
Due: none

add schemas and refactor docs
  docs/api_reference.md
  docs/cli_usage.md
  docs/conf.py
  docs/data_models/chunk_grids.md
  docs/data_models/compressors.md
  docs/data_models/data_types.md
  docs/data_models/dimensions.md
  docs/data_models/index.md
  docs/data_models/version_0.md
  docs/data_models/version_1.md
  docs/index.md
  docs/installation.md
  docs/requirements.txt
  docs/tutorials/compression.ipynb
  docs/tutorials/index.md
  docs/tutorials/quickstart.ipynb
  docs/tutorials/rechunking.ipynb
  noxfile.py
  pyproject.toml
  src/mdio/schema/__init__.py
  src/mdio/schema/base.py
  src/mdio/schema/chunk_grid.py
  src/mdio/schema/compressors.py
  src/mdio/schema/core.py
  src/mdio/schema/dimension.py
  src/mdio/schema/dtype.py
  src/mdio/schema/metadata.py
  src/mdio/schema/units.py
  src/mdio/schema/v0/__init__.py
  src/mdio/schema/v0/dataset.py
  src/mdio/schema/v1/__init__.py
  src/mdio/schema/v1/dataset.py
  src/mdio/schema/v1/stats.py
  src/mdio/schema/v1/units.py
  src/mdio/schema/v1/variable.py
Due: check-toml

fix doc build warnings and some syntax
  docs/api_reference.md
  docs/cli_usage.md
  docs/data_models/chunk_grids.md
  docs/data_models/compressors.md
  docs/data_models/data_types.md
  noxfile.py
  poetry.lock
  src/mdio/commands/segy.py
  src/mdio/converters/segy.py
  src/mdio/schema/v0/__init__.py
  src/mdio/schema/v1/__init__.py
Due: none

refactor export rechunker to work with latest dask
  src/mdio/segy/utilities.py
Due: none

make accessor works with new dask/zarr chunk scheme
  src/mdio/api/accessor.py
Due: none

remove print statement
  src/mdio/api/accessor.py
Due: none

removed error description from docstring
  src/mdio/segy/utilities.py
Due: none

Refactor Export Rechunking (#478)
  src/mdio/api/accessor.py
  src/mdio/segy/utilities.py
Due: none

update docs about storage options
  docs/usage.md
Due: none

handle new ingestion storage opts
  src/mdio/commands/segy.py
Due: none

add segy settings to grid reader
  src/mdio/converters/segy.py
Due: none

add input storage options and rename old one to output
  src/mdio/converters/segy.py
Due: none

Allow configuring input and output storage options in SEG-Y ingestion (#479)
  docs/usage.md
  src/mdio/commands/segy.py
  src/mdio/converters/segy.py
Due: none

Update zfpy dependency to version ^1.0.1
  poetry.lock
  pyproject.toml
Due: check-toml

Update zfpy dependency to version ^1.0.1 (#480)
  poetry.lock
  pyproject.toml
Due: check-toml

Update dask, distributed and minimum Python version requirement
  poetry.lock
  pyproject.toml
Due: check-toml

remove py3.9
  .github/workflows/tests.yml
  CONTRIBUTING.md
  noxfile.py
Due: check-yaml

Update `dask` and `distributed` to 2024.12.0 (#481)
  .github/workflows/tests.yml
  CONTRIBUTING.md
  noxfile.py
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml

Add `strict=True` to zip calls and optimize Dimension class.
  src/mdio/converters/segy.py
  src/mdio/core/dimension.py
  src/mdio/core/indexing.py
  src/mdio/exceptions.py
  src/mdio/segy/geometry.py
Due: none

pyupgrade 3.10 updates
  src/mdio/__main__.py
  src/mdio/core/serialization.py
Due: none

Remove Python 3.9 limited code (#482)
  src/mdio/__main__.py
  src/mdio/converters/segy.py
  src/mdio/core/dimension.py
  src/mdio/core/indexing.py
  src/mdio/core/serialization.py
  src/mdio/exceptions.py
  src/mdio/segy/geometry.py
Due: none

Fix warning for duplicate definition of link
  docs/tutorials/quickstart.ipynb
Due: none

Fix missing close curly brace
  docs/cli_usage.md
Due: none

Updated types to avoid removed numpy construct
  src/mdio/schema/dtype.py
Due: none

General cleaning
  docs/tutorials/compression.ipynb
  docs/tutorials/quickstart.ipynb
  src/mdio/commands/segy.py
Due: none

Revert notebook changes to avoid conflicts with main
  docs/tutorials/compression.ipynb
  docs/tutorials/quickstart.ipynb
Due: none
