Repository TGSAI/mdio-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

Nox and uv integration upgrades (#1)
  .github/workflows/tests.yml
  noxfile.py
Due: check-yaml

Update Python and segy version to enable py3.13
  pyproject.toml
Due: check-toml

Update lock for python3.13
  uv.lock
Due: none

Upgrade CI to support Python 3.13
  .github/workflows/tests.yml
Due: check-yaml

Support for Zarr v3
  src/mdio/api/accessor.py
  src/mdio/api/convenience.py
  src/mdio/api/io_utils.py
  src/mdio/converters/segy.py
  src/mdio/segy/blocked_io.py
  src/mdio/segy/helpers_segy.py
Due: none

Update Python requirement and Zarr dependency version
  pyproject.toml
Due: check-toml

Replace FSStore with FsspecStore in test fixtures
  tests/unit/conftest.py
Due: none

Refactor mock_store to use LocalFileSystem.
  tests/unit/conftest.py
Due: none

test cli tests and disable copy
  src/mdio/api/convenience.py
  src/mdio/commands/info.py
  tests/test_main.py
Due: none

Refactor mock_store to use path parameter in FsspecStore
  tests/unit/conftest.py
Due: none

Refactor MDIO metadata handling and test structure.
  src/mdio/api/accessor.py
  src/mdio/api/io_utils.py
  src/mdio/segy/helpers_segy.py
  tests/integration/test_segy_import_export.py
  tests/unit/conftest.py
  tests/unit/test_accessor.py
  tests/unit/test_compat.py
Due: none

Remove Python 3.10 support from testing pipeline
  .github/workflows/tests.yml
  noxfile.py
Due: check-yaml

Refactor mock_store to use zarr open_group instead of FsspecStore
  tests/unit/conftest.py
Due: none

Add validation for chunking update
  tests/integration/test_rechunk.py
Due: none

Begins adding tests for rechunking
  tests/integration/test_rechunk.py
Due: none

Fixes rechunk not honoring the requested chunking structure
  src/mdio/api/convenience.py
Due: none

update uv lock
  uv.lock
Due: none

Re-bump minimum Python version
  pyproject.toml
Due: check-toml

Fix incorrect pipeline yaml after rebase
  .github/workflows/tests.yml
Due: check-yaml

Remove python 3.10
  .github/workflows/tests.yml
Due: check-yaml

Introduce MDIO dataset factory for streamlined creation.
  docs/index.md
  src/mdio/__init__.py
  src/mdio/converters/segy.py
  src/mdio/core/factory.py
  src/mdio/segy/blocked_io.py
Due: none

Refactor metadata handling and improve getter/setters.
  src/mdio/api/accessor.py
Due: none

Refactor ZFPY import to handle missing dependency
  src/mdio/core/factory.py
Due: none

Add notebook in docs for creating and populating MDIO files
  docs/notebooks/creation.ipynb
Due: none

update headings for docs rendering
  docs/notebooks/creation.ipynb
Due: none

Refactor test fixtures for creating mock MDIO data.
  tests/unit/conftest.py
Due: none

update test based on new mock mdio
  tests/unit/test_accessor.py
Due: none

title case
  docs/notebooks/creation.ipynb
Due: none

correct live_mask explanation
  docs/notebooks/creation.ipynb
Due: none

update plot axes
  docs/notebooks/creation.ipynb
Due: none

Use dynamic package version for API version metadata
  src/mdio/core/factory.py
Due: none

fix docstring consolidate
  src/mdio/core/factory.py
Due: none

fix write docstring
  src/mdio/api/accessor.py
Due: none

promote stats keys to class attribute for reusability
  src/mdio/api/accessor.py
Due: none

add `create_empty_like` function.
  src/mdio/core/factory.py
Due: none

tests for `create_empty_like`
  tests/unit/test_factory.py
Due: none

expose create_empty_like at root module level
  src/mdio/__init__.py
Due: none

add `create_empty_like` demo.
  docs/notebooks/creation.ipynb
Due: none

remove empty cell
  docs/notebooks/creation.ipynb
Due: none

use Codec ABC instead of specific compressors
  src/mdio/core/factory.py
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
