Repository TGSAI/mdio-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

Update GitHub actions paths
  .github/workflows/tests.yml
Due: check-yaml

Fix broken CI: Make CI tooling constraint paths absolute (#382)
  .github/workflows/tests.yml
Due: check-yaml

Update package versions in pyproject.toml
  poetry.lock
  pyproject.toml
Due: check-toml

Update CPU count configuration for parallel operations
  src/mdio/converters/mdio.py
  src/mdio/segy/blocked_io.py
Due: none

update lockfile
  poetry.lock
Due: none

update black to fix security vulnerability
  poetry.lock
  pyproject.toml
Due: check-toml

bump patch version
  pyproject.toml
Due: check-toml

bump patch version (#395)
  pyproject.toml
Due: check-toml

Refactor text_header setter type check
  src/mdio/api/accessor.py
Due: none

Refactor text_header setter type check
  src/mdio/segy/_standards_common.py
  src/mdio/segy/_standards_rev0.py
Due: none

Refactor text_header setter type check
  src/mdio/segy/ebcdic.py
  src/mdio/segy/headers.py
  src/mdio/segy/headers_text.py
  src/mdio/segy/ibm_float.py
Due: none

Refactor get_grid_plan and remove unused imports
  src/mdio/segy/utilities.py
Due: none

Refactor SEG-Y parser and streamline imports
  src/mdio/segy/parsers.py
Due: none

Refactor SEG-Y converter and simplify imports
  src/mdio/converters/segy.py
Due: none

Refactor workers for SEG-Y parsing
  src/mdio/segy/_workers.py
Due: none

use NDArray typing since we now return struct
  src/mdio/segy/geometry.py
Due: none

Refactor to use 'segy' instead of 'segyio'.
  poetry.lock
  pyproject.toml
  src/mdio/converters/mdio.py
  src/mdio/segy/_workers.py
  src/mdio/segy/blocked_io.py
  src/mdio/segy/byte_utils.py
  src/mdio/segy/creation.py
  src/mdio/segy/parsers.py
  src/mdio/segy/utilities.py
Due: check-toml

refactor override tests to use ndarray headers instead of a dictionary to make it work with 'segy'.
  src/mdio/segy/geometry.py
  tests/unit/test_segy_grid_overrides.py
Due: none

Remove unit tests for IBM/IEEE conversions and text headers
  tests/unit/test_ibm_ieee.py
  tests/unit/test_text_header.py
Due: none

Refactor and simplify 6D tests related to SEG-Y
  tests/integration/conftest.py
  tests/integration/test_segy_import_export.py
Due: none

Refactor and simplify 6D tests related to SEG-Y
  src/mdio/api/accessor.py
  src/mdio/converters/mdio.py
  src/mdio/segy/creation.py
  tests/conftest.py
Due: none

Upgrade segy package version
  poetry.lock
  pyproject.toml
Due: check-toml

Refactored segy factory creation in mdio_to_segy function
  src/mdio/segy/creation.py
Due: none

Multiply sample_interval by 1000 in SegyFactory
  src/mdio/segy/creation.py
Due: none

Update segy library version
  poetry.lock
  pyproject.toml
Due: check-toml

fix docstring errors
  poetry.lock
  src/mdio/converters/mdio.py
  src/mdio/segy/_workers.py
  src/mdio/segy/blocked_io.py
  src/mdio/segy/creation.py
  src/mdio/segy/parsers.py
Due: none

Update dependency package versions
  poetry.lock
  pyproject.toml
Due: check-toml

update field name for segy data
  src/mdio/segy/_workers.py
Due: none

import Endianness from new location
  src/mdio/segy/byte_utils.py
Due: none

use bleeding edge segy during dev
  poetry.lock
  pyproject.toml
Due: check-toml

allow configuring endianness on export
  src/mdio/converters/mdio.py
Due: none

update binary header
  src/mdio/segy/creation.py
Due: none

Update the 'segy' git repository link
  poetry.lock
  pyproject.toml
Due: check-toml

Update virtualenv version in constraints.txt
  .github/workflows/constraints.txt
Due: none

Update poetry version in workflow constraints
  .github/workflows/constraints-poetry.txt
Due: none

update RtD dependencies
  docs/requirements.txt
Due: none

switch myst-nb to stable
  noxfile.py
Due: none

fix broken tests
  tests/integration/test_segy_import_export.py
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
