Repository TGSAI/mdio-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

use more readable expression
  src/mdio/api/convenience.py
Due: none

Zarr v3 Engine (#530)
  .github/workflows/tests.yml
  docs/notebooks/creation.ipynb
  docs/notebooks/quickstart.ipynb
  docs/notebooks/rechunking.ipynb
  noxfile.py
  pyproject.toml
  src/mdio/api/accessor.py
  src/mdio/api/convenience.py
  src/mdio/api/io_utils.py
  src/mdio/commands/copy.py
  src/mdio/commands/info.py
  src/mdio/commands/segy.py
  src/mdio/converters/segy.py
  src/mdio/core/factory.py
  src/mdio/segy/blocked_io.py
  src/mdio/segy/creation.py
  src/mdio/segy/helpers_segy.py
  tests/test_main.py
  tests/unit/conftest.py
  tests/unit/test_accessor.py
  tests/unit/test_auto_chunking.py
  tests/unit/test_compat.py
  tests/unit/test_convenience.py
  tests/unit/test_factory.py
  uv.lock
Due: check-toml, check-yaml

Add "Creation" section to reference documentation
  docs/reference.md
Due: none

Add "Creation" section to reference documentation (#532)
  docs/reference.md
Due: none

Add numpy_to_mdio converter for NumPy to MDIO format
  src/mdio/converters/numpy.py
Due: none

Add numpy converters to reference documentation
  docs/reference.md
Due: none

Remove redundant blank lines and outdated ImportError docstring
  src/mdio/converters/numpy.py
Due: none

Add numpy_to_mdio converter to API
  src/mdio/__init__.py
  src/mdio/converters/__init__.py
  src/mdio/converters/numpy.py
Due: none

Add integration tests for NumPy to MDIO conversion
  tests/integration/test_numpy_ingest.py
Due: none

Update SEGY reference to exclude 'get_compressor'
  docs/reference.md
Due: none

Update documentation structure for convenience functions
  docs/reference.md
Due: none

Add type hint annotations and clean up formatting
  tests/unit/test_auto_chunking.py
Due: none

Increase test coverage threshold and update coverage config
  pyproject.toml
Due: check-toml

Numpy array ingestion functionality (#531)
  docs/reference.md
  pyproject.toml
  src/mdio/__init__.py
  src/mdio/converters/__init__.py
  src/mdio/converters/numpy.py
  tests/integration/test_numpy_ingest.py
  tests/unit/test_auto_chunking.py
Due: check-toml

Bump version to 0.9.0.
  pyproject.toml
Due: check-toml

Pins zarr package version.
  pyproject.toml
  uv.lock
Due: check-toml

Expand range of acceptable zarr versions
  pyproject.toml
  uv.lock
Due: check-toml

Add pydantic schemas (#2)
  pyproject.toml
  src/mdio/schema/__init__.py
  src/mdio/schema/base.py
  src/mdio/schema/chunk_grid.py
  src/mdio/schema/compressors.py
  src/mdio/schema/core.py
  src/mdio/schema/dimension.py
  src/mdio/schema/dtype.py
  src/mdio/schema/metadata.py
  src/mdio/schema/units.py
  src/mdio/schema/v0/__init__.py
  src/mdio/schema/v0/dataset.py
  src/mdio/schema/v1/__init__.py
  src/mdio/schema/v1/dataset.py
  src/mdio/schema/v1/stats.py
  src/mdio/schema/v1/units.py
  src/mdio/schema/v1/variable.py
  uv.lock
Due: check-toml

V1 documentation (#3)
  .readthedocs.yml
  docs/api_reference.md
  docs/cli_usage.md
  docs/conf.py
  docs/data_models/chunk_grids.md
  docs/data_models/compressors.md
  docs/data_models/data_types.md
  docs/data_models/dimensions.md
  docs/data_models/index.md
  docs/data_models/v0.md
  docs/data_models/v1.md
  docs/index.md
  docs/notebooks/creation.ipynb
  docs/notebooks/quickstart.ipynb
  docs/notebooks/rechunking.ipynb
  docs/requirements.txt
  docs/tutorials/compression.ipynb
  docs/tutorials/index.md
  docs/tutorials/quickstart.ipynb
  docs/tutorials/rechunking.ipynb
  noxfile.py
  pyproject.toml
  src/mdio/__main__.py
  src/mdio/api/accessor.py
  src/mdio/commands/segy.py
  src/mdio/converters/mdio.py
  src/mdio/converters/segy.py
  src/mdio/core/dimension.py
  src/mdio/core/grid.py
  src/mdio/segy/blocked_io.py
  uv.lock
Due: check-toml, check-yaml

Residual migration from reconciliation branch (#4)
  docs/data_models/index.md
  docs/data_models/version_0.md
  docs/data_models/version_1.md
  src/mdio/segy/creation.py
  src/mdio/segy/geometry.py
Due: none

Add .editorconfig file for consistent code formatting
  .editorconfig
Due: none

Update RTD config to use Ubuntu 22.04 and Python 3.13
  .readthedocs.yml
Due: check-yaml

Update CONTRIBUTING.md for Python version requirement and coverage
  CONTRIBUTING.md
Due: none

Add .editorconfig file for consistent code formatting (#537)
  .editorconfig
Due: none

Update RTD config to use Ubuntu 22.04 and Python 3.13 (#536)
  .readthedocs.yml
Due: check-yaml

Update CONTRIBUTING.md for Python version requirement and coverage (#538)
  CONTRIBUTING.md
Due: none

refactor documentation and make it prettier
  docs/api_reference.md
  docs/cli_usage.md
  docs/conf.py
  docs/index.md
  docs/installation.md
  docs/requirements.txt
  docs/tutorials/compression.ipynb
  docs/tutorials/creation.ipynb
  docs/tutorials/index.md
  docs/tutorials/quickstart.ipynb
  docs/tutorials/rechunking.ipynb
Due: none

Refactor dependencies by grouping documentation-specific packages.
  pyproject.toml
  uv.lock
Due: check-toml

Add `sphinx-design` to Sphinx extensions list
  docs/conf.py
  noxfile.py
Due: none

Improve Documentation Grouping and Features (#539)
  docs/api_reference.md
  docs/cli_usage.md
  docs/conf.py
  docs/index.md
  docs/installation.md
  docs/requirements.txt
  docs/tutorials/compression.ipynb
  docs/tutorials/creation.ipynb
  docs/tutorials/index.md
  docs/tutorials/quickstart.ipynb
  docs/tutorials/rechunking.ipynb
  noxfile.py
  pyproject.toml
  uv.lock
Due: check-toml

Remove autodoc-pydantic from docs dependencies
  pyproject.toml
  uv.lock
Due: check-toml

Remove autodoc-pydantic from docs dependencies (#540)
  pyproject.toml
  uv.lock
Due: check-toml

Creation tutorial: shorter title
  docs/tutorials/creation.ipynb
Due: none

Creation tutorial: shorter title (#541)
  docs/tutorials/creation.ipynb
Due: none

Enhance static analysis and coverage configurations
  pyproject.toml
Due: check-toml

Sort dependency list in pyproject.toml
  pyproject.toml
Due: check-toml

add whitespace between directive config and files
  docs/tutorials/index.md
Due: none

Update static analysis and coverage configurations (#542)
  docs/tutorials/index.md
  pyproject.toml
Due: check-toml

Remove mypy override for zarr module
  pyproject.toml
Due: check-toml

Remove mypy override for zarr module (#543)
  pyproject.toml
Due: check-toml

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
