Repository TGSAI/mdio-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  # should be replaced in the future ref https://github.com/astral-sh/ruff/issues/458
  - repo: https://github.com/jsh9/pydoclint
    rev: 0.6.6
    hooks:
      - id: pydoclint
  - repo: local
    hooks:
      - id: ruff-format
        name: Format code with Ruff
        entry: ruff format
        language: system
        types_or: [python, pyi, jupyter]
      - id: ruff
        name: Lint code with Ruff
        entry: ruff check
        language: system
        types_or: [python, pyi, jupyter]
        args: [--fix]
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
        args: ["--maxkb=1100"]
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [pre-commit, pre-push, manual]
        args: [--markdown-linebreak-ext=md]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier

Remove manual clear from noxfile
  noxfile.py
Due: none

Dependabot deps bump (#827)
  .github/workflows/constraints.txt
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  docs/requirements.txt
  noxfile.py
  uv.lock
Due: check-yaml

Avoid full grid_map pickler overhead for every ingestion chunk
  src/mdio/segy/_workers.py
  src/mdio/segy/blocked_io.py
Due: none

Eagerly materialize the numpy array repr
  src/mdio/segy/blocked_io.py
Due: none

Reintorduce lazy loading but pickle the map only once per process in the pool
  src/mdio/segy/_workers.py
  src/mdio/segy/blocked_io.py
Due: none

Fix pre-commit
  src/mdio/segy/_workers.py
Due: none

Fix distribution bottleneck for higher dimensional grids (#832)
  src/mdio/segy/_workers.py
  src/mdio/segy/blocked_io.py
Due: none

Update minor version
  pyproject.toml
  uv.lock
Due: check-toml

Resolve issue where `segy_to_mdio` ingestion failed in trace ingestion phase if `output` contained a `UPath` with `storage_options`
  src/mdio/api/io.py
  tests/unit/test_io.py
Due: none

Ignore false positive for hardcoded "secret"
  tests/unit/test_io.py
Due: none

Fix `UPath` pickling bug (#835)
  src/mdio/api/io.py
  tests/unit/test_io.py
Due: none

Resolve ibm float roundtrip segy issues
  pyproject.toml
  src/mdio/ingestion/segy/pipeline.py
  src/mdio/segy/utilities.py
  tests/integration/test_segy_ibm32_header_roundtrip.py
  tests/unit/test_segy_header_projection.py
  uv.lock
Due: check-toml

Resolve ibm float roundtrip segy issues (#837)
  pyproject.toml
  src/mdio/ingestion/segy/pipeline.py
  src/mdio/segy/utilities.py
  tests/integration/test_segy_ibm32_header_roundtrip.py
  tests/unit/test_segy_header_projection.py
  uv.lock
Due: check-toml

Update minor version (#833)
  pyproject.toml
  uv.lock
Due: check-toml

Add multi-shard SEG-Y to single MDIO consolidation
  src/mdio/__init__.py
  src/mdio/converters/__init__.py
  src/mdio/converters/segy.py
  src/mdio/ingestion/consolidation.py
  src/mdio/ingestion/segy/consolidate.py
  src/mdio/segy/_workers.py
  src/mdio/segy/blocked_io.py
Due: none

Make gun/elevation optional coordinates and prune when absent
  src/mdio/builder/templates/base.py
  src/mdio/builder/templates/seismic_3d_shot_receiver_line.py
  src/mdio/builder/templates/seismic_3d_streamer_shot.py
  src/mdio/ingestion/segy/consolidate.py
  src/mdio/ingestion/segy/pipeline.py
  src/mdio/ingestion/segy/validation.py
  tests/unit/v1/templates/test_seismic_3d_shot_receiver_line.py
Due: none

Add Zarr v3 sharding support to the ingestion build path
  src/mdio/builder/schemas/v1/variable.py
  src/mdio/builder/templates/base.py
  src/mdio/builder/xarray_builder.py
  src/mdio/ingestion/dataset_factory.py
  src/mdio/ingestion/schema/models.py
  src/mdio/ingestion/schema/resolver.py
  src/mdio/segy/blocked_io.py
Due: none

Expose chunk size and counter dtype on the `HasDuplicates` path
  docs/guides/grid_overrides.md
  src/mdio/ingestion/segy/index_strategies.py
  src/mdio/ingestion/segy/validation.py
  src/mdio/segy/geometry.py
  tests/unit/ingestion/test_schema_effects.py
  tests/unit/ingestion/test_segy_grid_overrides.py
  tests/unit/ingestion/test_segy_index_strategies.py
  tests/unit/test_grid_overrides_pydantic.py
Due: none

Add OBN Continuous Receiver Gathers (CRG) template
  docs/guides/crg_data_import.md
  docs/guides/index.md
  src/mdio/builder/template_registry.py
  src/mdio/builder/templates/seismic_3d_crg.py
  tests/integration/test_import_crg_grid_overrides.py
  tests/unit/v1/templates/test_seismic_3d_crg.py
  tests/unit/v1/templates/test_template_registry.py
Due: none

Apply prettier formatting to CRG docs tables
  docs/guides/crg_data_import.md
  docs/guides/grid_overrides.md
Due: none

Make `trace_dtype` own the whole inserted trace axis
  docs/guides/crg_data_import.md
  docs/guides/grid_overrides.md
  src/mdio/builder/templates/base.py
  src/mdio/ingestion/segy/index_strategies.py
  src/mdio/ingestion/segy/schema_effects.py
  src/mdio/ingestion/segy/validation.py
  src/mdio/segy/geometry.py
  tests/integration/test_import_crg_grid_overrides.py
  tests/unit/ingestion/test_schema_effects.py
  tests/unit/ingestion/test_segy_index_strategies.py
  tests/unit/test_grid_overrides_pydantic.py
Due: none

Require HasDuplicates for the CRG template
  docs/guides/crg_data_import.md
  docs/guides/grid_overrides.md
  src/mdio/commands/segy.py
  src/mdio/segy/geometry.py
  tests/unit/ingestion/test_segy_grid_overrides.py
  tests/unit/ingestion/test_segy_pipeline.py
Due: none

Bump version to 1.2.2
  pyproject.toml
  uv.lock
Due: check-toml

Tighten up warnings context management
  pyproject.toml
  src/mdio/api/io.py
  src/mdio/builder/xarray_builder.py
  src/mdio/core/zarr_io.py
  uv.lock
Due: check-toml

test: swap Teapot for public Soda Lake shot
  docs/tutorials/quickstart.ipynb
  docs/tutorials/rechunking.ipynb
  tests/conftest.py
  tests/integration/test_segy_roundtrip_soda_lake.py
  tests/integration/test_segy_roundtrip_teapot.py
  tests/test_main.py
Due: none

test: swap Teapot for public Soda Lake shot (#874)
  docs/tutorials/quickstart.ipynb
  docs/tutorials/rechunking.ipynb
  tests/conftest.py
  tests/integration/test_segy_roundtrip_soda_lake.py
  tests/integration/test_segy_roundtrip_teapot.py
  tests/test_main.py
Due: none

Tighten up warnings context management (#873)
  pyproject.toml
  src/mdio/api/io.py
  src/mdio/builder/xarray_builder.py
  src/mdio/core/zarr_io.py
  uv.lock
Due: check-toml

Update proper support for SEG-Y Rev 2+
  src/mdio/segy/compat.py
  src/mdio/segy/creation.py
  tests/unit/test_segy_creation.py
Due: none

fix(segy): infer sample headers from fastest dim
  docs/tutorials/file_headers.ipynb
  src/mdio/segy/headers.py
  tests/unit/test_update_segy_file_headers.py
Due: none

Update proper support for SEG-Y Rev 2+ (#876)
  src/mdio/segy/compat.py
  src/mdio/segy/creation.py
  tests/unit/test_segy_creation.py
Due: none

feat(segy): add update_segy_file_headers (#863)
  docs/api_reference.md
  docs/tutorials/file_headers.ipynb
  docs/tutorials/index.md
  src/mdio/__init__.py
  src/mdio/segy/__init__.py
  src/mdio/segy/creation.py
  src/mdio/segy/headers.py
  tests/unit/test_update_segy_file_headers.py
Due: none

Add optional logging for grid information
  src/mdio/ingestion/grid_qc.py
  tests/unit/ingestion/test_grid_qc.py
Due: none

Add optional logging for grid information (#877)
  src/mdio/ingestion/grid_qc.py
  tests/unit/ingestion/test_grid_qc.py
Due: none

feat: add optional dataset CRS string
  docs/tutorials/file_headers.ipynb
  src/mdio/__init__.py
  src/mdio/api/io.py
  src/mdio/builder/dataset_builder.py
  src/mdio/builder/formatting_html.py
  src/mdio/builder/schemas/v1/dataset.py
  src/mdio/builder/templates/base.py
  src/mdio/builder/xarray_builder.py
  src/mdio/ingestion/dataset_factory.py
  src/mdio/ingestion/schema/models.py
  src/mdio/ingestion/schema/resolver.py
  src/mdio/segy/headers.py
  tests/conftest.py
  tests/unit/ingestion/test_dataset_factory.py
  tests/unit/ingestion/test_schema_resolver.py
  tests/unit/test_update_crs.py
  tests/unit/test_update_segy_file_headers.py
  tests/unit/v1/test_crs.py
Due: none

Revert unnecessary doc change
  src/mdio/ingestion/dataset_factory.py
Due: none

Fix to use the correct test harnesses
  tests/conftest.py
  tests/unit/test_update_crs.py
  tests/unit/test_update_segy_file_headers.py
  tests/unit/testing_helpers.py
  tests/unit/v1/templates/test_seismic_templates.py
  tests/unit/v1/test_crs.py
  tests/unit/v1/test_dataset_builder_build.py
  tests/unit/v1/test_dataset_serializer.py
Due: none

Add optional canonical dataset CRS string (#878)
  docs/tutorials/file_headers.ipynb
  src/mdio/__init__.py
  src/mdio/api/io.py
  src/mdio/builder/dataset_builder.py
  src/mdio/builder/formatting_html.py
  src/mdio/builder/schemas/v1/dataset.py
  src/mdio/builder/templates/base.py
  src/mdio/builder/xarray_builder.py
  src/mdio/ingestion/dataset_factory.py
  src/mdio/ingestion/schema/models.py
  src/mdio/ingestion/schema/resolver.py
  src/mdio/segy/headers.py
  tests/unit/ingestion/test_dataset_factory.py
  tests/unit/ingestion/test_schema_resolver.py
  tests/unit/test_update_crs.py
  tests/unit/test_update_segy_file_headers.py
  tests/unit/testing_helpers.py
  tests/unit/v1/templates/test_seismic_templates.py
  tests/unit/v1/test_dataset_builder_build.py
  tests/unit/v1/test_dataset_serializer.py
Due: none

chore(deps): batch pending Dependabot bumps
  .github/dependabot.yml
  .github/workflows/build-constraints.txt
  .github/workflows/constraints.txt
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  docs/requirements.txt
  noxfile.py
  uv.lock
Due: check-yaml

chore(deps): batch pending Dependabot bumps (#879)
  .github/dependabot.yml
  .github/workflows/build-constraints.txt
  .github/workflows/constraints.txt
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  docs/requirements.txt
  noxfile.py
  uv.lock
Due: check-yaml

fix(grid): bound vindex spike in build_map
  src/mdio/core/grid.py
  tests/unit/test_grid_build_map.py
Due: none
