Repository TGSAI/mdio-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

bump version to `1.1.2`
  pyproject.toml
  uv.lock
Due: check-toml

Pass 1 of template implementations
  src/mdio/builder/template_registry.py
  src/mdio/builder/templates/seismic_3d_obn.py
  src/mdio/builder/templates/seismic_3d_obn_single_component.py
  src/mdio/builder/templates/seismic_3d_shot_receiver_line.py
  tests/unit/v1/templates/test_seismic_3d_obn.py
  tests/unit/v1/templates/test_seismic_3d_obn_single_component.py
  tests/unit/v1/templates/test_seismic_3d_shot_receiver_line.py
  tests/unit/v1/templates/test_template_registry.py
Due: none

Use correct coordinate names
  src/mdio/builder/templates/seismic_3d_obn.py
  src/mdio/builder/templates/seismic_3d_obn_single_component.py
  src/mdio/builder/templates/seismic_3d_shot_receiver_line.py
  tests/unit/v1/templates/test_seismic_3d_obn.py
  tests/unit/v1/templates/test_seismic_3d_obn_single_component.py
  tests/unit/v1/templates/test_seismic_3d_shot_receiver_line.py
Due: none

Remove unnecessary docstrings
  src/mdio/builder/templates/seismic_3d_obn.py
  src/mdio/builder/templates/seismic_3d_obn_single_component.py
  src/mdio/builder/templates/seismic_3d_shot_receiver_line.py
Due: none

Fix `surveyType` key
  src/mdio/builder/templates/seismic_3d_obn.py
  src/mdio/builder/templates/seismic_3d_obn_single_component.py
  src/mdio/builder/templates/seismic_3d_shot_receiver_line.py
Due: none

Fix `surveyType` in tests
  tests/unit/v1/templates/test_seismic_3d_obn.py
  tests/unit/v1/templates/test_seismic_3d_obn_single_component.py
  tests/unit/v1/templates/test_seismic_3d_shot_receiver_line.py
Due: none

Update default chunking
  src/mdio/builder/templates/seismic_3d_obn.py
  src/mdio/builder/templates/seismic_3d_obn_single_component.py
Due: none

Add OBN Data Import documentation and remove single-component template (#12)
  docs/guides/grid_overrides.md
  docs/guides/index.md
  docs/guides/obn_data_import.md
  docs/index.md
  noxfile.py
  src/mdio/builder/template_registry.py
  src/mdio/builder/templates/seismic_3d_obn.py
  src/mdio/builder/templates/seismic_3d_obn_single_component.py
  src/mdio/converters/segy.py
  src/mdio/segy/geometry.py
  src/mdio/segy/utilities.py
  tests/integration/conftest.py
  tests/integration/test_import_obn_grid_overrides.py
  tests/unit/test_segy_grid_overrides.py
  tests/unit/v1/templates/test_seismic_3d_obn.py
  tests/unit/v1/templates/test_seismic_3d_obn_single_component.py
  tests/unit/v1/templates/test_template_registry.py
Due: none

Add Seismic OBN Dataset Templates (#767)
  docs/guides/grid_overrides.md
  docs/guides/index.md
  docs/guides/obn_data_import.md
  docs/index.md
  noxfile.py
  src/mdio/builder/template_registry.py
  src/mdio/builder/templates/seismic_3d_obn.py
  src/mdio/builder/templates/seismic_3d_shot_receiver_line.py
  src/mdio/converters/segy.py
  src/mdio/segy/geometry.py
  src/mdio/segy/utilities.py
  tests/integration/conftest.py
  tests/integration/test_import_obn_grid_overrides.py
  tests/unit/test_segy_grid_overrides.py
  tests/unit/v1/templates/test_seismic_3d_obn.py
  tests/unit/v1/templates/test_seismic_3d_shot_receiver_line.py
  tests/unit/v1/templates/test_template_registry.py
Due: none

Begin bumping versions
  .github/workflows/constraints.txt
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  docs/requirements.txt
Due: check-yaml

Require `segy=0.5.4`
  pyproject.toml
Due: check-toml

Bump docs deps
  pyproject.toml
Due: check-toml

Constrain `setuptools` version to avoid pipeline issues on Windows test pipeline
  .github/workflows/build-constraints.txt
  noxfile.py
Due: none

Bump deps (#770)
  .github/workflows/build-constraints.txt
  .github/workflows/constraints.txt
  .github/workflows/labeler.yml
  .github/workflows/release.yml
  .github/workflows/tests.yml
  docs/requirements.txt
  noxfile.py
  pyproject.toml
Due: check-toml, check-yaml

Add Seismic3DOffsetTilesTemplate and Seismic3DReceiverGathersTemplate
  src/mdio/builder/template_registry.py
  src/mdio/builder/templates/seismic_3d_offset_tiles.py
  src/mdio/builder/templates/seismic_3d_receiver_gathers.py
  tests/unit/v1/templates/test_seismic_3d_offset_tiles.py
  tests/unit/v1/templates/test_seismic_3d_receiver_gathers.py
  tests/unit/v1/templates/test_template_registry.py
Due: none

Refactor Seismic Dataset Templates Documentation and Tests
  src/mdio/builder/templates/seismic_3d_offset_tiles.py
  src/mdio/builder/templates/seismic_3d_receiver_gathers.py
  tests/unit/v1/templates/test_seismic_3d_offset_tiles.py
  tests/unit/v1/templates/test_seismic_3d_receiver_gathers.py
Due: none

Use a more correct name for offset tile gathers
  src/mdio/builder/templates/seismic_3d_offset_tiles.py
  tests/unit/v1/templates/test_seismic_3d_offset_tiles.py
Due: none

Apply dependabot updates
  uv.lock
Due: none

Add upper limit to `fsspec` due to regression in `2026.2.0`
  pyproject.toml
  uv.lock
Due: check-toml

Bump dependencies and set upper limit to `fsspec` (#782)
  pyproject.toml
  uv.lock
Due: check-toml

Add templates for `3DOffsetTiles` and `3DReceiverGathers` (#781)
  src/mdio/builder/template_registry.py
  src/mdio/builder/templates/seismic_3d_offset_tiles.py
  src/mdio/builder/templates/seismic_3d_receiver_gathers.py
  tests/unit/v1/templates/test_seismic_3d_offset_tiles.py
  tests/unit/v1/templates/test_seismic_3d_receiver_gathers.py
  tests/unit/v1/templates/test_template_registry.py
Due: none

Add crs and bin size metadata fields to VariableMetadata
  src/mdio/builder/schemas/v1/variable.py
  tests/unit/v1/test_dataset_builder_add_variable.py
Due: none

Performance enhancements for geometry calculation
  src/mdio/segy/geometry.py
  tests/integration/conftest.py
  tests/integration/test_import_obn_grid_overrides.py
Due: none

Fix grid override selection bug (#808)
  src/mdio/segy/geometry.py
  tests/integration/conftest.py
  tests/integration/test_import_obn_grid_overrides.py
Due: none

Add logic to allow for headers to be dropped/rearranged in `mdio_to_segy`
  src/mdio/converters/mdio.py
  src/mdio/segy/utilities.py
  tests/integration/test_segy_import_export_masked.py
  tests/unit/test_segy_header_projection.py
Due: none

precommit
  tests/unit/test_segy_header_projection.py
Due: none

Fix nox venv reuse issue
  noxfile.py
Due: none

Add upper limit of zarr version pending PyPi release for feature: https://github.com/zarr-developers/zarr-python/pull/3781
  pyproject.toml
Due: check-toml

Fix nox venv reuse issue (#811)
  noxfile.py
Due: none

Add upper limit of zarr version pending PyPi release for feature: https://github.com/zarr-developers/zarr-python/pull/3781 (#812)
  pyproject.toml
Due: check-toml

Bump version for release
  pyproject.toml
Due: check-toml

Bump version for release (#813)
  pyproject.toml
Due: check-toml

Modularize segy ingestion code
  src/mdio/converters/segy.py
  src/mdio/ingestion/__init__.py
  src/mdio/ingestion/coordinates.py
  src/mdio/ingestion/grid_qc.py
  src/mdio/ingestion/metadata.py
  src/mdio/ingestion/segy/__init__.py
  src/mdio/ingestion/segy/coordinates.py
  src/mdio/ingestion/segy/file_headers.py
  src/mdio/ingestion/segy/header_analysis.py
  src/mdio/ingestion/segy/validation.py
  src/mdio/segy/geometry.py
  uv.lock
Due: none

Remove unnecessary compat imports
  src/mdio/converters/segy.py
  src/mdio/segy/geometry.py
  tests/integration/conftest.py
  tests/integration/test_import_streamer_grid_overrides.py
Due: none

Implement unit tests for refactored helper functions
  tests/unit/ingestion/__init__.py
  tests/unit/ingestion/test_coordinates.py
  tests/unit/ingestion/test_grid_qc.py
  tests/unit/ingestion/test_metadata.py
  tests/unit/ingestion/test_segy_coordinates.py
  tests/unit/ingestion/test_segy_file_headers.py
  tests/unit/ingestion/test_segy_header_analysis.py
  tests/unit/ingestion/test_segy_validation.py
  tests/unit/ingestion/testing_helpers.py
Due: none

Precommit
  tests/unit/ingestion/test_grid_qc.py
  tests/unit/ingestion/test_segy_coordinates.py
  tests/unit/ingestion/test_segy_validation.py
Due: none

pre-commit
  tests/unit/ingestion/test_segy_file_headers.py
  tests/unit/ingestion/test_segy_header_analysis.py
Due: none

Remove extranious validations
  src/mdio/ingestion/segy/coordinates.py
  tests/unit/ingestion/test_segy_coordinates.py
Due: none

Cleanup magic numbers in coordinate unit getter
  src/mdio/ingestion/segy/coordinates.py
Due: none

Add useful deleted comments back
  src/mdio/ingestion/segy/header_analysis.py
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
