Repository TGSAI/mdio-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.1.13
    hooks:
      - id: ruff-format
        types_or: [python, pyi]
      - id: ruff
        types_or: [python, pyi]
        args: [--fix]

  - repo: local
    hooks:
      - id: check-added-large-files
        name: Check for added large files
        entry: check-added-large-files
        language: system
        args: ["--maxkb=1100"]
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: darglint
        name: darglint
        entry: darglint
        language: system
        types: [python]
        stages: [manual]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
        args: [--markdown-linebreak-ext=md]
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.6.0
    hooks:
      - id: prettier

Add some more explainination on ShotGumGeometryType..
  src/mdio/segy/geometry.py
Due: none

add non-product notice
  README.md
Due: none

add non-product notice (#366)
  README.md
Due: none

Fix linting.
  tests/integration/test_segy_import_export.py
Due: none

AutoShotWrap grid override (#338)
  .devcontainer/Dockerfile
  src/mdio/converters/segy.py
  src/mdio/segy/geometry.py
  tests/integration/conftest.py
  tests/integration/test_segy_import_export.py
Due: none

Release `0.7.0`
  pyproject.toml
Due: check-toml

Release `0.7.0` (#367)
  pyproject.toml
Due: check-toml

Improve MDIO API with accessor modes and rechunk functionality
  src/mdio/api/accessor.py
  src/mdio/api/convenience.py
Due: none

Add usage examples to rechunk functions
  src/mdio/api/convenience.py
Due: none

Add convenience functions section to docs
  docs/reference.md
Due: none

Add optional compressor parameter to rechunk functions
  src/mdio/api/convenience.py
Due: none

Add rechunk function TODO comment
  src/mdio/api/convenience.py
Due: none

Refactor buffer size and improve documentation
  src/mdio/api/convenience.py
Due: none

Add rechunking optimization demo
  docs/index.md
  docs/notebooks/rechunking.ipynb
Due: none

Refactor notebook: reset execution counts and tidy metadata
  docs/notebooks/rechunking.ipynb
Due: none

Update rechunking notebook with minor tweaks
  docs/notebooks/rechunking.ipynb
Due: none

Function to rechunk single variables or batch variables from existing MDIO (#368)
  docs/index.md
  docs/notebooks/rechunking.ipynb
  docs/reference.md
  src/mdio/api/accessor.py
  src/mdio/api/convenience.py
Due: none

bump version
  pyproject.toml
Due: check-toml

bump version (#370)
  pyproject.toml
Due: check-toml

Add access pattern info to MDIO command
  src/mdio/commands/info.py
Due: none

Add access pattern info to MDIO command (#371)
  src/mdio/commands/info.py
Due: none

bump version (#372)
  pyproject.toml
Due: check-toml

Refactor text_header setter type check
  src/mdio/api/accessor.py
Due: none

Refactor text_header setter type check
  src/mdio/segy/_standards_common.py
  src/mdio/segy/_standards_rev0.py
Due: none

Refactor text_header setter type check
  src/mdio/segy/ebcdic.py
  src/mdio/segy/headers.py
  src/mdio/segy/headers_text.py
  src/mdio/segy/ibm_float.py
Due: none

Refactor workers for SEG-Y parsing
  src/mdio/segy/_workers.py
Due: none

Refactor SEG-Y parser and streamline imports
  src/mdio/segy/parsers.py
Due: none

Refactor SEG-Y converter and simplify imports
  src/mdio/converters/segy.py
Due: none

Refactor get_grid_plan and remove unused imports
  src/mdio/segy/utilities.py
Due: none

use NDArray typing since we now return struct
  src/mdio/segy/geometry.py
Due: none

Refactor to use 'segy' instead of 'segyio'.
  poetry.lock
  pyproject.toml
  src/mdio/converters/mdio.py
  src/mdio/segy/_workers.py
  src/mdio/segy/blocked_io.py
  src/mdio/segy/byte_utils.py
  src/mdio/segy/creation.py
  src/mdio/segy/parsers.py
  src/mdio/segy/utilities.py
Due: check-toml

refactor override tests to use ndarray headers instead of a dictionary to make it work with 'segy'.
  src/mdio/segy/geometry.py
  tests/unit/test_segy_grid_overrides.py
Due: none

Remove unit tests for IBM/IEEE conversions and text headers
  tests/unit/test_ibm_ieee.py
  tests/unit/test_text_header.py
Due: none

bug: move consolidate metadata out of loop
  src/mdio/api/convenience.py
Due: none

bug: move consolidate metadata out of loop (#380)
  src/mdio/api/convenience.py
Due: none

Update pip and pipx syntax in test workflow
  .github/workflows/tests.yml
Due: check-yaml

add github workspace prefix to file paths
  .github/workflows/tests.yml
Due: check-yaml

Refactor $GITHUB_WORKSPACE usage in test workflows
  .github/workflows/tests.yml
Due: check-yaml

Update GitHub workflow to use env variable
  .github/workflows/tests.yml
Due: check-yaml
