Repository TGSAI/mdio-python: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-toml, check-yaml

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

Fix missing dtypes
  src/mdio/schema/dtype.py
Due: none

Update src/mdio/schema/dtype.py
  src/mdio/schema/dtype.py
Due: none

update and organize deps
  poetry.lock
  pyproject.toml
Due: check-toml

get rid of colon from title
  CONTRIBUTING.md
Due: none

delete flake8 config bc ruff
  .flake8
Due: none

upgrade pre-commit to ruff
  .pre-commit-config.yaml
Due: check-yaml

add editorconfig file
  .editorconfig
Due: none

update rtd build machine config
  .readthedocs.yml
Due: check-yaml

add schemas and refactor docs
  docs/api_reference.md
  docs/cli_usage.md
  docs/conf.py
  docs/data_models/chunk_grids.md
  docs/data_models/compressors.md
  docs/data_models/data_types.md
  docs/data_models/dimensions.md
  docs/data_models/index.md
  docs/data_models/version_0.md
  docs/data_models/version_1.md
  docs/index.md
  docs/installation.md
  docs/requirements.txt
  docs/tutorials/compression.ipynb
  docs/tutorials/index.md
  docs/tutorials/quickstart.ipynb
  docs/tutorials/rechunking.ipynb
  noxfile.py
  pyproject.toml
  src/mdio/schema/__init__.py
  src/mdio/schema/base.py
  src/mdio/schema/chunk_grid.py
  src/mdio/schema/compressors.py
  src/mdio/schema/core.py
  src/mdio/schema/dimension.py
  src/mdio/schema/dtype.py
  src/mdio/schema/metadata.py
  src/mdio/schema/units.py
  src/mdio/schema/v0/__init__.py
  src/mdio/schema/v0/dataset.py
  src/mdio/schema/v1/__init__.py
  src/mdio/schema/v1/dataset.py
  src/mdio/schema/v1/stats.py
  src/mdio/schema/v1/units.py
  src/mdio/schema/v1/variable.py
Due: check-toml

fix doc build warnings and some syntax
  docs/api_reference.md
  docs/cli_usage.md
  docs/data_models/chunk_grids.md
  docs/data_models/compressors.md
  docs/data_models/data_types.md
  noxfile.py
  poetry.lock
  src/mdio/commands/segy.py
  src/mdio/converters/segy.py
  src/mdio/schema/v0/__init__.py
  src/mdio/schema/v1/__init__.py
Due: none

v1 Documentation fixes (#484)
  docs/cli_usage.md
  src/mdio/commands/segy.py
  src/mdio/schema/dtype.py
Due: none

Update dependencies in pyproject.toml
  poetry.lock
  pyproject.toml
Due: check-toml

Update to Poetry 2.0.0 and refactor project configuration
  .github/workflows/constraints-poetry.txt
  .github/workflows/tests.yml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml

Update to Poetry 2.0.0 and refactor project configuration (#492)
  .github/workflows/constraints-poetry.txt
  .github/workflows/tests.yml
  poetry.lock
  pyproject.toml
Due: check-toml, check-yaml

Update segy dependency to version 0.3.1
  poetry.lock
  pyproject.toml
Due: check-toml

Update segy dependency to version 0.3.1 (#493)
  poetry.lock
  pyproject.toml
Due: check-toml

Refactor SEG-Y compatibility with improved revision handling
  src/mdio/segy/compat.py
Due: none

Add InvalidMDIOError exception class
  src/mdio/exceptions.py
  src/mdio/segy/creation.py
Due: none

Rename function argument to match signature.
  src/mdio/segy/compat.py
Due: none

Add error handling to docstring.
  src/mdio/segy/compat.py
Due: none

Update pre-commit hook stages due to depracation
  .pre-commit-config.yaml
Due: check-yaml

string compat for <py3.12
  src/mdio/segy/compat.py
Due: none

Add unit tests for MDIO compatibility with older versions
  tests/unit/test_compat.py
Due: none

Refactor MDIO version 0.7.4 metadata update logic.
  tests/unit/test_compat.py
Due: none

Refactor revision handling to match new `segy` format (#494)
  .pre-commit-config.yaml
  src/mdio/exceptions.py
  src/mdio/segy/compat.py
  src/mdio/segy/creation.py
  tests/unit/test_compat.py
Due: check-yaml

release `0.8.4`
  pyproject.toml
Due: check-toml

Clarify buffered read env. var. parameterization values
  docs/usage.md
Due: none

Clarify buffered read env. var. parameterization values (#495)
  docs/usage.md
Due: none

Remove unused InvalidSEGYFileError exception
  src/mdio/segy/exceptions.py
Due: none

Remove unused BACKENDS variable
  src/mdio/converters/segy.py
Due: none

Refactor SEG-Y export and file SEG-Y handling utilities
  src/mdio/converters/mdio.py
  src/mdio/segy/blocked_io.py
  src/mdio/segy/creation.py
  src/mdio/segy/utilities.py
Due: none

update lockfile
  poetry.lock
Due: none

Fix tuple unpacking for py3.10 and add todo
  src/mdio/segy/blocked_io.py
  src/mdio/segy/creation.py
Due: none

use explicit chunks instead of chunksize
  src/mdio/converters/mdio.py
  src/mdio/segy/blocked_io.py
Due: none

Ensure sample dimension of chunks is a single chunk
  src/mdio/segy/utilities.py
Due: none

Fix incorrect SEG-Y export order due to tree reduction oversight (#504)
  poetry.lock
  src/mdio/converters/mdio.py
  src/mdio/converters/segy.py
  src/mdio/segy/blocked_io.py
  src/mdio/segy/creation.py
  src/mdio/segy/exceptions.py
  src/mdio/segy/utilities.py
Due: none

bugfix: get correct shape for block, not output's shape
  src/mdio/segy/blocked_io.py
Due: none

optimize segy export blocked i/o
  src/mdio/segy/blocked_io.py
  src/mdio/segy/creation.py
Due: none

Optimize new SEG-Y export logic (#505)
  src/mdio/segy/blocked_io.py
  src/mdio/segy/creation.py
Due: none

Fix padded dimension handling in SEG-Y creation.
  src/mdio/segy/creation.py
Due: none

Path conditions:
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
